:root {
  --main-color: #189ab4;
  --box-default-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

h3 {
  text-decoration: underline;
}

body {
  background: var(--main-color);
  /* background: url("../assets/values-back-card.png");
  background-position: center;
  background-size: 200%; */
  /* background-repeat: no-repeat; */
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
}

.image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -2;
}

.calc {
  content: "";
  position: absolute;
  inset: 0;
  background: #1c1c1c;
  opacity: 0.5;
  z-index: -1;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scale: 2;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
}

.rules {
  position: absolute;
  inset: 0;
  background-color: #1c1c1c;
  color: white;
  padding: 1rem 2rem;
  line-height: 1.38rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transform: translateY(-120%);
  transition: transform 1s;
  font-size: clamp(12px, 2vw, 16px);
  z-index: 99;
}

.close-rules {
  text-align: right;
  cursor: pointer;
}

.rules.active {
  transform: translateY(0);
}

nav {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-rules-btn {
  text-decoration: underline;
  cursor: pointer;
}

header {
  padding: 20px 0;
  height: 20%;
  text-align: center;
}

.input-container {
  display: flex;
  gap: 10px;
}

.input {
  padding: 1rem;
  outline: none;
}

.preview-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  border: 2px solid white;
  box-shadow: orange 0 0 0 2px, inset orange 0 0 0 2px, orange 0 0 5px 4px,
    inset orange 0 0 5px 4px;
  height: 400px;
  margin: 20px;
  border-radius: 15px;
  padding: 2rem;
  overflow: hidden;
}

.preview-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  width: 200px;
  height: 200px;
  background-color: var(--box-default-color);
  transition: all 1s;
  padding: 1rem;
  align-items: start;
  font-size: 1rem;
  font-weight: normal;
  color: black;
  background: linear-gradient(
    to top right,
    #075691 0%,
    rgba(56, 169, 255) 75%,
    #075691 100%
  );
  font-weight: bold;
}

#submit-btn {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background: linear-gradient(
    to right,
    #075691,
    rgba(56, 169, 255, 0.9),
    #075691
  );
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

/* Queries */

@media screen and (max-width: 500px) {
  .input-container {
    flex-direction: column;
    width: 80%;
  }
  .rules {
    padding: 0.5rem;
  }
}
